<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="com.automation.testscripts">
  <test  name="TC_01_CreateEmployee">
  <classes>
  <class name="com.automation.testscripts.TC_01_CreateEmployee"></class>
  </classes>
  </test>
</suite>
